{{ "<!-- Clients Aside -->" | safeHTML }}
<aside class="clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="heading">{{ with .Site.Params.clients_list.title }}{{ . | markdownify }}{{ end }}</h2>
      </div>
      <br>
    </div>
    <div class="row flexbox{{ if .Site.Params.clients_list.center }} flexbox-center{{ end }}">

      {{ range .Site.Params.clients }}
      <div class="col-md-3 col-sm-6 col">
        {{ $url := printf "img/logos/%s" .logo }}
        {{ if .link }}
        <a href="{{ .link }}">
          <img src="{{ $url | absURL }}" class="img-responsive img-centered" alt="">
        </a>
        {{ else }}
        <img src="{{ $url | absURL }}" class="img-responsive img-centered" alt="">
        {{ end }}
      </div>
      {{ end }}

    </div>
  </div>
</aside>

{{ "<!-- Footer section -->" | safeHTML }}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">

          {{ range .Site.Params.footer.social }}
            <li><a href="{{ .link }}" title="{{ .title }}"><i class="fa {{ .icon }}"></i></a></li>
          {{ end }}

        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">

          {{ range .Site.Params.footer.quicklinks }}
            <li><a href="{{ .link }}">{{ .text  | markdownify }}</a></li>
          {{ end }}

        </ul>
      </div>
    </div>
  </div>
</footer>
