{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="kontak">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">HOTLINE Ma'Seli - 081355444227(Om Andika) || 081355403545(Om Zul)</h2>
                <h3 class="section-subheading text-muted">
                    Follow social media kami untuk mendapatkan informasi terkini tentang Ma'seli - Geopark Celebes Explorer 2019:
                    <br>
                </h3>
                <h4>
                    Facebook: maseli
                    <br>
                    Instagram: @ma_seli.slim
                </h4>
            </div>

        </div>
        <div class="row">

            {{ range .Site.Data.projects }}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{ .modalID }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    {{ $url := printf "img/portfolio/%s" .preview }}
                    <img src="{{ $url | absURL }}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ .title | markdownify }}</h4>
                    <p class="text-muted">{{ .category | markdownify }}</p>
                </div>
            </div>
            {{ end }}

        </div>
    </div>
</section>
