{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ if .Site.Params.navigation.logo }}
        <a class="navbar-brand page-scroll" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
          {{ $url := printf "img/%s" .Site.Params.navigation.logo }}
          <img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .Site.Params.navigation.brand }}">
        </a>
      {{ else }}
        <a class="navbar-brand page-scroll" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
          {{ .Site.Params.navigation.brand }}
        </a>
      {{ end }}

    </div>
    {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}"></a>
        </li>

        {{ range .Site.Menus.prepend }}
          <li>
            <a href="{{ .URL }}">{{ .Name | markdownify }}</a>
          </li>
        {{ end }}

        <!--    Beranda   -->
        {{ if .Site.Params.beranda.enable }}
        <li>
          <a class="page-scroll" href="{{ .Site.BaseURL }}#beranda">{{ with .Site.Params.navigation.beranda }}{{ . }}{{ end }}</a>
        </li>
        {{ end }}
        <!--    Info Event -->
        {{ if .Site.Params.info.enable }}
        <li>
          <a class="page-scroll" href="{{ .Site.BaseURL }}#infoevent">{{ with .Site.Params.navigation.info }}{{ . }}{{ end }}</a>
        </li>
        {{ end }}
        <!--    Peserta -->
        {{ if .Site.Params.peserta.enable }}
        <li>
          <a class="page-scroll" href="{{ .Site.BaseURL }}#peserta">{{ with .Site.Params.navigation.peserta }}{{ . }}{{ end }}</a>
        </li>
        {{ end }}
        <!--    Berita  -->
<!--        {{ if .Site.Params.berita.enable }}-->
<!--        <li>-->
<!--          <a class="page-scroll" href="{{ .Site.BaseURL }}#berita">{{ with .Site.Params.navigation.berita }}{{ . }}{{ end }}</a>-->
<!--        </li>-->
<!--        {{ end }}-->
        <!--    Galeri -->
        {{ if .Site.Params.galeri.enable }}
        <li>
          <a href="{{ .Site.BaseURL }}#galeri">{{ with .Site.Params.navigation.galeri }}{{ . }}{{ end }}</a>
        </li>
        {{ end }}
        <!--    Kontak  -->
        {{ if .Site.Params.kontak.enable }}
        <li>
          <a class="page-scroll" href="{{ .Site.BaseURL }}#kontak">{{ with .Site.Params.navigation.kontak }}{{ . }}{{ end }}</a>
        </li>
        {{ end }}
<!--        &lt;!&ndash;    Daftar  &ndash;&gt;-->
<!--        {{ if .Site.Params.daftar.enable }}-->
<!--        <li>-->
<!--          <a class="page-scroll" href="{{ .Site.BaseURL }}#daftar">{{ with .Site.Params.navigation.daftar }}{{ . }}{{ end }}</a>-->
<!--        </li>-->
<!--        {{ end }}-->


        {{ range .Site.Menus.postpend }}
        <!-- Button trigger modal -->
          <li>
            <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" target="_blank" id="custom-link" style="background-color: #fec503">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
    {{ "<!-- /.navbar-collapse -->" | safeHTML }}
  </div>
  {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
