<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}
    {{ partial "hero.html" . }}


<!--    Beranda   -->
    {{ if .Site.Params.beranda.enable }}
      {{ partial "beranda.html" . }}
    {{ end }}
<!--    Info Event -->
    {{ if .Site.Params.info.enable }}
    {{ partial "info.html" . }}
    {{ end }}
<!--    Peserta -->
    {{ if .Site.Params.peserta.enable }}
    {{ partial "peserta.html" . }}
    {{ end }}
<!--    Berita  -->
    {{ if .Site.Params.berita.enable }}
    {{ partial "berita.html" . }}
    {{ end }}
<!--    Galeri -->
    {{ if .Site.Params.galeri.enable }}
    {{ partial "galeri.html" . }}
    {{ end }}
<!--    Kontak  -->
    {{ if .Site.Params.kontak.enable }}
    {{ partial "kontak.html" . }}
    {{ end }}
<!--&lt;!&ndash;    Daftar  &ndash;&gt;-->
<!--    {{ if .Site.Params.daftar.enable }}-->
<!--    {{ partial "daftar.html" . }}-->
<!--    {{ end }}-->


<!--    {{ if .Site.Params.about.enable }}-->
<!--      {{ partial "about.html" . }}-->
<!--    {{ end }}-->


<!--    {{ if .Site.Params.contact.enable }}-->
<!--    {{ partial "contact.html" . }}-->
<!--    {{ end }}-->


<!--    {{ if .Site.Params.services.enable }}-->
<!--      {{ partial "services.html" . }}-->
<!--    {{ end }}-->


<!--    {{ if .Site.Params.portfolio.enable }}-->
<!--      {{ partial "portfolio.html" . }}-->
<!--    {{ end }}-->

<!--    {{ if .Site.Params.team.enable }}-->
<!--      {{ partial "team.html" . }}-->
<!--    {{ end }}-->

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "modals.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  </body>
</html>
