<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}
    {{ partial "hero.html" . }}


<!--    Beranda   -->
    {{ if .Site.Params.beranda.enable }}
      {{ partial "beranda.html" . }}
    {{ end }}
<!--    Info Event -->
    {{ if .Site.Params.info.enable }}
    {{ partial "info.html" . }}
    {{ end }}
<!--    Peserta -->
    {{ if .Site.Params.peserta.enable }}
    {{ partial "peserta.html" . }}
    {{ end }}
<!--&lt;!&ndash;    Berita  &ndash;&gt;-->
<!--    {{ if .Site.Params.berita.enable }}-->
<!--    {{ partial "berita.html" . }}-->
<!--    {{ end }}-->
<!--    Galeri -->
    {{ if .Site.Params.galeri.enable }}
    {{ partial "galeri.html" . }}
    {{ end }}
<!--    Kontak  -->
    {{ if .Site.Params.kontak.enable }}
    {{ partial "kontak.html" . }}
    {{ end }}
<!--&lt;!&ndash;    Daftar  &ndash;&gt;-->
<!--    {{ if .Site.Params.daftar.enable }}-->
<!--    {{ partial "daftar.html" . }}-->
<!--    {{ end }}-->


<!--    {{ if .Site.Params.about.enable }}-->
<!--      {{ partial "about.html" . }}-->
<!--    {{ end }}-->


<!--    {{ if .Site.Params.contact.enable }}-->
<!--    {{ partial "contact.html" . }}-->
<!--    {{ end }}-->


<!--    {{ if .Site.Params.services.enable }}-->
<!--      {{ partial "services.html" . }}-->
<!--    {{ end }}-->


<!--    {{ if .Site.Params.portfolio.enable }}-->
<!--      {{ partial "portfolio.html" . }}-->
<!--    {{ end }}-->

<!--    {{ if .Site.Params.team.enable }}-->
<!--      {{ partial "team.html" . }}-->
<!--    {{ end }}-->

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "modals.html" . }}
    {{ end }}

    {{ partial "js.html" . }}
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Terima Kasih</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Kouta Peserta Ma'Seli - Geopark Celebes Explorer 2019 sudah terpenuhi. Terima Kasih Antusias Om dan Tante dalam kegiatan ini.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
